<md-list>
	<md-list-item>
		<md-button data-ui-sref="portal" ng-click="toggleSideBarLeft()">
			<md-icon md-svg-icon="home" ></md-icon>
			Home
		</md-button>
	</md-list-item>
	<md-list-item>
		<md-button data-ui-sref="newrequest" ng-click="toggleSideBarLeft()">
			<md-icon md-svg-icon="add" ></md-icon>
			New Request
		</md-button>
	</md-list-item>
	<md-list-item>
		<md-button data-ui-sref="repository" ng-click="toggleSideBarLeft()">
			<md-icon md-svg-icon="repos" ></md-icon>
			Repository
		</md-button>
	</md-list-item>
</md-list>